* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b0c0c;
  color: #e6c98f;
  font-family: 'Playfair Display', serif;
}

/* BACKGROUND */
.cover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  /*background: radial-gradient(circle at top, #3a1515, #1b0c0c);*/
  background: radial-gradient(circle at top, #2f4f3e, #0d1813);
}

/* CONTAINER */
.content {
  max-width: 420px;
  padding: 20px;
   position: relative;
  z-index: 2;
}

/* TOP TEXT */
.top-text {
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 25px;
  opacity: 0.8;
}

/* NAMA */
.name {
  font-family: 'Great Vibes', cursive;
  font-size: 56px;
  font-weight: normal;
  margin: 5px 0;
}

/* & */
.and {
  font-size: 22px;
  margin: 8px 0;
  opacity: 0.8;
}

/* DATE LINE */
.date-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.date-line span {
  flex: 1;
  height: 1px;
  background: #e6c98f;
  opacity: 0.6;
}

.date-line p {
  margin: 0 15px;
  font-size: 14px;
  letter-spacing: 4px;
}

/* QUOTE */
.quote {
  font-size: 14px;
  line-height: 1.8;
  margin: 30px 0;
  font-style: italic;
  opacity: 0.85;
}

.quote1 {
  font-size: 16px;
  line-height: 1.8;
  margin: 30px 0;
  font-style: normal;
  opacity: 0.85;
}

/* SOURCE */
.source {
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 2px;
}

/* BUTTON */
.btn {
  padding: 12px 40px;
  border-radius: 40px;
  border: 1px solid #e6c98f;
  background: transparent;
  color: #e6c98f;
  font-size: 12px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #e6c98f;
  color: #1b0c0c;
}

.overlay {
  background: rgba(75,15,28,0.7);
  padding: 40px;
}

button {
  padding: 12px 25px;
  background: gold;
  border: none;
  margin-top: 20px;
}

/* CONTENT */
.hidden { display: none; }

.hero {
  padding: 60px 20px;
  font-family: 'Playfair Display', serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* GALLERY */
.gallery img {
  width: 90%;
  max-width: 300px;
  margin: 10px;
  border-radius: 12px;
}

/* SECTION */
.event, .countdown, .rsvp, .gift {
  padding: 50px 20px;
}

/* FORM */
input, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

/* QRIS */
.gift {
  background: linear-gradient(#4b0f1c, #2a0810);
}

.gift h2 {
  color: gold;
}

.gift-text {
  max-width: 500px;
  margin: auto;
  line-height: 1.6;
  color: #f3dddd;
}

.qris {
  width: 220px;
  margin-top: 20px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.rek {
  font-size: 12px;
  opacity: 0.7;
}

.thanks {
  margin-top: 20px;
  font-family: 'Playfair Display';
  color: gold;
  font-size: 1.5em;
}

.btn-map {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #e6c98f; /* warna gold */
  opacity: 0.6;
}

.divider p {
  margin: 0 12px;
  font-size: 14px;
  color: #e6c98f;
}

/* LAYER */
.sparkle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.sparkle span {
  position: absolute;
  color: #fff3c4; /* sedikit gold biar elegan */
  pointer-events: none;

  text-shadow:
    0 0 6px rgba(255,255,255,0.9),
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);

  /*animation: sparkleAnim ease-out forwards;*/
  animation: sparkleAnim cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* animasi lebih smooth */
@keyframes sparkleAnim {
  0% {
    transform: translate(0,0) scale(0.3);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(1.8);
    opacity: 0;
  }
}


.guest {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
}

/* ===== SECTION PENAMPIL FOTO ===== */

.couple-section{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    flex-wrap:wrap;
    padding:120px 20px;
    overflow:hidden;

    background:
    linear-gradient(
        to bottom,
        #eee7df,
        #eee,
        #eee7df
    );
}


/* ===== CARD ===== */

.couple-card{
    width:320px;
    text-align:center;
    position:relative;
}


/* FOTO */

.photo-wrapper{
    height:0;
    overflow:hidden;

    opacity:0;
    transform:scale(0);

    transition:
    height 0.7s ease,
    opacity 0.7s ease,
    transform 0.7s ease;
}

.photo-wrapper img{
    width:260px;
    height:auto;
    display:block;
    margin:auto;
    object-fit:contain;
    filter:none;
}


/* FOTO MUNCUL */

.photo-wrapper.active{

    height:240px;

    opacity:1;

    animation:showPhoto 0.9s forwards;
}


/* FOTO HILANG */

.photo-wrapper.hide{

    animation:hidePhoto 0.7s forwards;
}


/* TEKS */

.text-content{
    transition:transform 0.7s ease;
    margin-top:-30px;
}


/* TEKS TURUN SAAT FOTO MUNCUL */

.text-content.down{
    transform:translateY(20px);
}


/* LOVE */

.love-icon{
    font-size:70px;
    color:#e6c98f;

    animation:pulse 2s infinite;
}


/* SHOW */

@keyframes showPhoto{

    0%{
        opacity:0;
        transform:scale(0);
    }

    60%{
        opacity:1;
        transform:scale(1.15);
    }

    100%{
        opacity:1;
        transform:scale(1);
    }

}


/* HIDE */

@keyframes hidePhoto{

    0%{
        opacity:1;
        transform:scale(1);
    }

    40%{
        opacity:1;
        transform:scale(1.1);
    }

    100%{
        opacity:0;
        transform:scale(0);
    }

}


/* LOVE DENYUT */

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.12);
    }

    100%{
        transform:scale(1);
    }

}

.nama_pengantin{
    font-size:36px;
    color:#2F1A0F;
    font-family:'Great Vibes', cursive;
    margin-top:20px;
}

.status_anak{
    font-size:16px;
    color:#9A7D6A;
    font-family:'Poppins', sans-serif;
    font-style:italic;
    margin-top:8px;
}
.ortu{
    font-size:18px;
    color:#2F1A0F;
    font-family:'Georgia', serif;
    margin-top:10px;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600&family=Montserrat:wght@300;400;500&display=swap');

/* ===== WRAPPER ===== */
.schedule-wrapper{
    position:relative;
    min-height:100vh;
    overflow:hidden;
}

/* ===== GIF BACKGROUND ===== */
.schedule-bg{
    position:fixed;
    inset:0;
    background:
    linear-gradient(
        rgba(15,8,8,0.45),
        rgba(15,8,8,0.55)
    ),
    url("../foto/bg_schedule.gif");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    z-index:-1;
    filter:
    brightness(0.9)
    saturate(1.05);
    transform:scale(1.05);
}

.schedule-section{
    position:relative;
    z-index:2;
    padding:120px 20px;
    text-align:center;
}


.schedule-subtitle{
  font-family:'Montserrat', sans-serif;
  font-size:18px;
  line-height:1.05;
  letter-spacing:12px;
  color:#c8ae78;
  font-weight:400;
  margin:0 0 70px;
}

.schedule-title{
  font-family:'Cormorant Garamond', serif;
  font-size:28px;
  line-height:1.05;
  color:#2b170f;
  font-weight:400;
  margin:0 0 70px;
}

/* ===== GLASS CARD ===== */

.schedule-card{
    isolation:isolate;
    position:sticky;
    top:80px;
    max-width:760px;
    margin:auto;
    margin-bottom:40px;
    padding:85px 40px 70px;
    border-radius:38px;
    overflow:hidden;
    /* GLASS PREMIUM */
    background:
    linear-gradient(
        135deg,
        rgba(30,16,16,0.58),
        rgba(55,28,28,0.40)
    );
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(20px);
    border:none;
    box-shadow:
    0 10px 45px rgba(0,0,0,0.32),
    inset 0 1px 1px rgba(255,255,255,0.05);
}
/* ===== BORDER FLOW PREMIUM ===== */
@property --angle{
    syntax:"<angle>";
    initial-value:0deg;
    inherits:false;
}

.schedule-card::before{
    content:"";
    position:absolute;
    inset:3px;
    border-radius:34px;
    padding:3px;
    background:
    conic-gradient(
        from var(--angle),
        rgba(255,255,255,0.02) 0deg,
        rgba(255,255,255,1) 60deg,
        rgba(230,201,143,1) 120deg,
        rgba(255,255,255,0.02) 220deg,
        rgba(255,255,255,0.02) 360deg
    );
    animation:borderFlow 5s linear infinite;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite:xor;
            mask-composite:exclude;
    pointer-events:none;
}



@keyframes borderFlow{
    from{
        --angle:0deg;
    }
    to{
        --angle:360deg;
    }
}

.schedule-icon{
  width:130px;
  height:130px;
  border:2px solid #eadfce;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:0 auto 45px;
}

.event-type{
  font-family:'Montserrat', sans-serif;
  font-size:24px;
  letter-spacing:8px;
  color:#c8ae78;
  margin-bottom:34px;
  font-weight:300;
}

.event-date{
  font-family:'Cormorant Garamond', serif;
  font-size:18px;
  line-height:1.1;
  color:#2b170f;
  font-weight:500;
  margin:0 0 10px;
}

.event-time{
  font-family:'Montserrat', sans-serif;
  font-size:16px;
  color:#8d7765;
  margin-bottom:10px;
  font-weight:400;
}

.event-location{
  font-family:'Cormorant Garamond', serif;
  color:#6e5848;
  font-size:14px;
  line-height:1.7;
  margin-bottom:10px;
}

.event-location p{
  margin:0;
}

.map-button{
  display:inline-flex;
  align-items:center;
  gap:10px;
  padding:24px 46px;
  border:2px solid #e0cfb0;
  border-radius:999px;
  text-decoration:none;
  color:#c8ae78;
  font-family:'Montserrat', sans-serif;
  font-size:16px;
  font-weight:400;
  transition:0.3s ease;
}

.map-button:hover{
  background:#c8ae78;
  color:#fff;
}

.map-button:hover svg path,
.map-button:hover svg circle{
  stroke:#fff;
}

.schedule-card h1,
.schedule-card h2,
.schedule-card h3,
.schedule-card p,
.schedule-card span{
    text-shadow:
    0 1px 2px rgba(0,0,0,0.28);
    color:#f8f1e7;
}

.event-type,
.schedule-subtitle{
    color:#f0d7a2;
    text-shadow:
    0 1px 8px rgba(230,201,143,0.18);
}


/* ===== RESPONSIVE HP ===== */

@media(max-width:768px){

    .couple-section{
        gap:20px;
        padding:80px 20px;
    }

    .photo-wrapper img{
        width:200px;
        height:200px;
    }

    .photo-wrapper::before{
        width:220px;
        height:220px;
    }

    .couple-card h2{
        font-size:34px;
    }

    .love-icon{
        width:100%;
        text-align:center;
        font-size:50px;
    }

    /* ===== SCHEDULE ===== */

    .schedule-section{
        padding:55px 20px;
    }

    .schedule-subtitle{
        font-size:18px;
        letter-spacing:5px;
        margin-bottom:10px;
    }

    .schedule-title{
        font-size:24px;
        margin-bottom:30px;
    }

    .schedule-card{
        padding:40px 20px;
        border-radius:24px;
    }

    .schedule-icon{
        width:80px;
        height:80px;
        margin-bottom:20px;
    }

    .schedule-icon svg{
        width:28px;
        height:28px;
    }

    .event-type{
        font-size:18px;
        letter-spacing:4px;
        margin-bottom:20px;
    }

    .event-date{
        font-size:20px;
        margin-bottom:8px;
    }

    .event-time{
        font-size:14px;
        margin-bottom:15px;
    }

    .event-location{
        font-size:13px;
        margin-bottom:20px;
    }

    .map-button{
        padding:12px 22px;
        font-size:12px;
        gap:8px;
    }

    .map-button svg{
        width:16px;
        height:16px;
    }

    /*count menuju hari bahagia*/
    .main-title{
        font-size:58px;
        line-height:1.1;
    }

    .date-text{
        font-size:22px;
        margin-bottom:45px;
    }

    .countdown-wrapper{
        gap:18px;
    }

    .lux-card{
        width:150px;
        height:200px;
        border-radius:30px;
    }

    .number{
        font-size:62px;
    }

    .label{
        font-size:14px;
        letter-spacing:3px;
    }
}

/* Love animation */

.love-story-section{
    position: relative;
    overflow: visible; /* 🔥 INI KUNCI FIX */

    padding: 100px 25px;

    background: linear-gradient(
        to bottom,
        #eee7df,
        #eee,
        #eee7df
    );
}

/* container animasi */
.floating-love-container{
    position: absolute;
    inset: 0;

    pointer-events: none;

    z-index: 1;

    overflow: hidden; /* 🔥 pindah ke sini */
}

/* isi harus center stabil */
.love-story-content{
    position: relative;
    z-index: 2;

    max-width: 750px;
    margin: auto;

    text-align: center;
}

/* TITLE FIX */
.love-story-title{
    font-family: 'Great Vibes', cursive;
    font-size: 48px;
    color: #c8ae78;
    margin-bottom: 25px;
    transform: translateY(-20px);
}

/* TEXT FIX */
.love-story-text{
    font-size: 16px;

    line-height: 1.5;

    color: #555;
}

/* LOVE */
.floating-love{
    position: absolute;

    bottom: 0;

    opacity: 0;

    animation: loveFloat linear forwards;

    user-select: none;
}

@keyframes loveFloatDynamic{

    0%{
        transform: translateY(0) scale(0.3);
        opacity: 0;
    }

    10%{
        opacity: 1;
    }

    100%{
        transform: translateY(calc(var(--travel) * -1)) scale(2.2);
        opacity: 0;
    }
}

/*countdowm menuju hari bahagia*/
.luxury-countdown{
    width:100%;
    max-width:1400px;
    padding:40px 20px;
    position:relative;
    text-align:center;
    z-index:2;
}

.mini-title{
    color:#c9a96e;
    letter-spacing:6px;
    font-size:16px;
    margin-bottom:12px;
    text-transform:uppercase;
    font-weight:700;
}

.main-title{
    font-family:'Great Vibes', cursive;
    font-size:90px;
    color:#f3d8a3;

    text-shadow:
    0 0 15px rgba(255,215,150,0.25),
    0 0 40px rgba(255,215,150,0.15);

    margin-bottom:12px;
}

.date-text{
    font-family:'Cormorant Garamond', serif;
    color:#e7d7b5;
    font-size:28px;
    letter-spacing:3px;
    margin-bottom:70px;
}

.countdown-wrapper{
    display:flex;
    justify-content:center;
    gap:35px;
    flex-wrap:wrap;
}

.lux-card{
    width:220px;
    height:280px;

    position:relative;

    border-radius:40px;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    overflow:hidden;

    background:
    linear-gradient(
        145deg,
        rgba(255,255,255,0.10),
        rgba(255,255,255,0.03)
    );

    border:1px solid rgba(255,255,255,0.12);

    backdrop-filter:blur(14px);

    box-shadow:
    0 25px 60px rgba(0,0,0,0.45),
    inset 0 0 30px rgba(255,255,255,0.03);

    transform-style:preserve-3d;

    animation:floating 5s ease-in-out infinite;
}

.lux-card:nth-child(2){
    animation-delay:.5s;
}

.lux-card:nth-child(3){
    animation-delay:1s;
}

.lux-card:nth-child(4){
    animation-delay:1.5s;
}

@keyframes floating{
    0%,100%{
        transform:
        translateY(0px)
        rotateX(0deg)
        rotateY(0deg);
    }

    50%{
        transform:
        translateY(-14px)
        rotateX(4deg)
        rotateY(-4deg);
    }
}

.glass{
    position:absolute;
    inset:0;

    background:
    linear-gradient(
        180deg,
        rgba(255,255,255,0.18),
        transparent 40%
    );
}

.shine{
    position:absolute;
    width:200%;
    height:70px;

    background:rgba(255,255,255,0.08);

    transform:rotate(35deg);

    top:-20px;
    left:-180%;

    animation:shineMove 6s linear infinite;
}

@keyframes shineMove{
    to{
        left:180%;
    }
}

.number{
    font-size:92px;
    font-weight:700;
    color:#fff6df;

    text-shadow:
    0 0 20px rgba(255,255,255,0.2),
    0 0 50px rgba(255,215,150,0.2);

    transform:translateZ(40px);

    animation:flip .8s ease;
}

.label{
    margin-top:12px;

    color:#d7b989;

    letter-spacing:4px;

    font-size:18px;

    text-transform:uppercase;
}

@keyframes flip{
    0%{
        transform:
        rotateX(90deg)
        translateZ(40px);

        opacity:0;
    }

    100%{
        transform:
        rotateX(0deg)
        translateZ(40px);

        opacity:1;
    }
}

.ornament{
    width:240px;
    height:2px;

    margin:auto;

    background:
    linear-gradient(
        to right,
        transparent,
        #d7b06d,
        transparent
    );

    position:relative;
}

.ornament::before,
.ornament::after{
    content:'✦';
    position:absolute;
    top:-13px;
    color:#d7b06d;
    font-size:20px;
}

.ornament::before{
    left:0;
}

.ornament::after{
    right:0;
}

.top{
    margin-bottom:45px;
}

.bottom{
    margin-top:70px;
}
