* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1b0c0c;
  color: #e6c98f;
  font-family: 'Playfair Display', serif;
}

/* BACKGROUND */
.cover {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
   position: relative;
/*
  background: #e6c98f;

box-shadow:
  0 0 10px rgba(230,201,143,0.9),
  0 0 20px rgba(230,201,143,0.6),
  0 0 40px rgba(230,201,143,0.4);
  */
  background: radial-gradient(circle at top, #3a1515, #1b0c0c);
}

/* CONTAINER */
.content {
  max-width: 420px;
  padding: 20px;
   position: relative;
  z-index: 2;
}

/* TOP TEXT */
.top-text {
  font-size: 14px;
  letter-spacing: 5px;
  margin-bottom: 25px;
  opacity: 0.8;
}

/* NAMA */
.name {
  font-family: 'Great Vibes', cursive;
  font-size: 56px;
  font-weight: normal;
  margin: 5px 0;
}

/* & */
.and {
  font-size: 22px;
  margin: 8px 0;
  opacity: 0.8;
}

/* DATE LINE */
.date-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.date-line span {
  flex: 1;
  height: 1px;
  background: #e6c98f;
  opacity: 0.6;
}

.date-line p {
  margin: 0 15px;
  font-size: 14px;
  letter-spacing: 4px;
}

/* QUOTE */
.quote {
  font-size: 14px;
  line-height: 1.8;
  margin: 30px 0;
  font-style: italic;
  opacity: 0.85;
}

/* SOURCE */
.source {
  margin-bottom: 40px;
  font-size: 14px;
  letter-spacing: 2px;
}

/* BUTTON */
.btn {
  padding: 12px 40px;
  border-radius: 40px;
  border: 1px solid #e6c98f;
  background: transparent;
  color: #e6c98f;
  font-size: 12px;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #e6c98f;
  color: #1b0c0c;
}

.overlay {
  background: rgba(75,15,28,0.7);
  padding: 40px;
}

button {
  padding: 12px 25px;
  background: gold;
  border: none;
  margin-top: 20px;
}

/* CONTENT */
.hidden { display: none; }

.hero {
  padding: 60px 20px;
  font-family: 'Playfair Display', serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* GALLERY */
.gallery img {
  width: 90%;
  max-width: 300px;
  margin: 10px;
  border-radius: 12px;
}

/* SECTION */
.event, .countdown, .rsvp, .gift {
  padding: 50px 20px;
}

/* FORM */
input, select {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
  max-width: 300px;
}

/* QRIS */
.gift {
  background: linear-gradient(#4b0f1c, #2a0810);
}

.gift h2 {
  color: gold;
}

.gift-text {
  max-width: 500px;
  margin: auto;
  line-height: 1.6;
  color: #f3dddd;
}

.qris {
  width: 220px;
  margin-top: 20px;
  background: white;
  padding: 10px;
  border-radius: 10px;
}

.rek {
  font-size: 12px;
  opacity: 0.7;
}

.thanks {
  margin-top: 20px;
  font-family: 'Playfair Display';
  color: gold;
  font-size: 1.5em;
}

.btn-map {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background: gold;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}
.divider {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: #e6c98f; /* warna gold */
  opacity: 0.6;
}

.divider p {
  margin: 0 12px;
  font-size: 14px;
  color: #e6c98f;
}

/* LAYER */
.sparkle {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  overflow: hidden;
}

.sparkle span {
  position: absolute;
  color: #fff3c4; /* sedikit gold biar elegan */
  pointer-events: none;

  text-shadow:
    0 0 6px rgba(255,255,255,0.9),
    0 0 12px rgba(255,255,255,0.6),
    0 0 24px rgba(255,255,255,0.4);

  /*animation: sparkleAnim ease-out forwards;*/
  animation: sparkleAnim cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

/* animasi lebih smooth */
@keyframes sparkleAnim {
  0% {
    transform: translate(0,0) scale(0.3);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    transform: translate(var(--x), var(--y)) scale(1.8);
    opacity: 0;
  }
}


.guest {
    text-align: center;
    margin-top: 20px;
    line-height: 1.6;
}

.couple-section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
    flex-wrap:wrap;
    padding:100px 20px;
}

.couple-card{
    text-align:center;
}

.couple-card img{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid white;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
}

/* AWAL sebelum muncul */
.reveal{
    opacity:0;
    transform:scale(0.3);
    transition:all 0.8s ease;
}

/* Saat muncul */
.reveal.active{
    animation:bounceIn 1s forwards;
}

/* Animasi mantul */
@keyframes bounceIn {

    0%{
        opacity:0;
        transform:scale(0.3);
    }

    50%{
        opacity:1;
        transform:scale(1.1);
    }

    70%{
        transform:scale(0.95);
    }

    100%{
        opacity:1;
        transform:scale(1);
    }
}

/* Responsive HP */
@media(max-width:768px){

    .couple-card img{
        width:200px;
        height:200px;
    }

    .couple-section{
        gap:30px;
    }
}

